In [8]:
import pandas as pd

# Load the Zillow dataset and specify that you don't want to use any column as an index
zillow_data = pd.read_csv('zillow_data.csv', index_col=False)
zillow_data

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [14]:
import pandas as pd

# Load the Zillow dataset
zillow_data = pd.read_csv('zillow_data.csv')

# Define the date columns
date_columns = zillow_data.columns[7:]

# Convert the numerical date values to strings (YYYY-MM format)
zillow_data[date_columns] = zillow_data[date_columns].astype(str)

# Define a function to clean and format the date values
def clean_and_format_date(date_str):
    # Split the string on "." and keep the first part
    date_parts = date_str.split(".")
    if len(date_parts) > 0:
        # Extract the first 7 characters (YYYY-MM)
        return date_parts[0][:7]
    else:
        return date_str  # If the format is already correct, return it as is

# Apply the clean_and_format_date function to the date columns
zillow_data[date_columns] = zillow_data[date_columns].applymap(clean_and_format_date)

# Now, convert the cleaned date strings to datetime objects
zillow_data[date_columns] = zillow_data[date_columns].apply(lambda x: pd.to_datetime(x, format='%Y-%m'), axis=0)

# Verify that the conversion was successful
print(zillow_data[date_columns].dtypes)

ValueError: time data "334200" doesn't match format "%Y-%m", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.